<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
 <!-- Mutation actions orbis-hardwared: только активный локальный пользователь. -->
<policyconfig>
  <action id="io.github.orbiscontrol.hardware.set-performance-profile">
    <description>Change the Orbis Control performance profile</description>
    <description xml:lang="ru">Изменить профиль производительности Orbis Control</description>
    <message>Permission is required to change the performance profile</message>
    <message xml:lang="ru">Для изменения профиля производительности требуется разрешение</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-charge-limit">
    <description>Change the Orbis Control battery charge limit</description>
    <description xml:lang="ru">Изменить лимит заряда батареи Orbis Control</description>
    <message>Permission is required to change the battery charge limit</message>
    <message xml:lang="ru">Для изменения лимита заряда батареи требуется разрешение</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-gpu-mode">
    <description>Change the Orbis Control GPU backend mode</description>
    <description xml:lang="ru">Изменить backend-режим GPU Orbis Control</description>
    <message>Permission is required to change the GPU backend mode</message>
    <message xml:lang="ru">Для изменения backend-режима GPU требуется разрешение</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-fan-curve">
    <description>Change the Orbis Control fan curve</description>
    <description xml:lang="ru">Изменить кривую вентилятора Orbis Control</description>
    <message>Permission is required to change the fan curve</message>
    <message xml:lang="ru">Для изменения кривой вентилятора требуется разрешение</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-panel-overdrive">
    <description>Change the Orbis Control panel overdrive state</description>
    <description xml:lang="ru">Изменить состояние panel overdrive Orbis Control</description>
    <message>Permission is required to change the panel overdrive state</message>
    <message xml:lang="ru">Для изменения состояния panel overdrive требуется разрешение</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
