<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
 <!-- Mutation actions orbis-hardwared: per-capability fail-closed defaults. -->
<policyconfig>
  <action id="io.github.orbiscontrol.hardware.set-performance-profile">
    <description>Change the Orbis Control performance profile</description>
    <description xml:lang="ru">Изменить профиль производительности Orbis Control</description>
    <message>Permission is required to change the performance profile</message>
    <message xml:lang="ru">Для изменения профиля производительности требуется разрешение</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-charge-limit">
    <description>Change the Orbis Control battery charge limit</description>
    <description xml:lang="ru">Изменить лимит заряда батареи Orbis Control</description>
    <message>Permission is required to change the battery charge limit</message>
    <message xml:lang="ru">Для изменения лимита заряда батареи требуется разрешение</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-gpu-mode">
    <description>Change the Orbis Control GPU backend mode</description>
    <description xml:lang="ru">Изменить backend-режим GPU Orbis Control</description>
    <message>GPU mutation is disabled until product policy and confirmation semantics are proven</message>
    <message xml:lang="ru">Запись GPU отключена до подтверждения product policy и semantics подтверждения</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-product-gpu-mode">
    <description>Queue an ASUS product GPU mode in Orbis Control</description>
    <description xml:lang="ru">Поставить в очередь продуктовый режим ASUS GPU в Orbis Control</description>
     <message>Queue an ASUS product GPU mode with authoritative read-back</message>
     <message xml:lang="ru">Поставить продуктовый режим ASUS GPU с подтверждением read-back</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-fan-curve">
    <description>Change the Orbis Control fan curve</description>
    <description xml:lang="ru">Изменить кривую вентилятора Orbis Control</description>
     <message>Change the ASUS fan curve with authoritative read-back</message>
     <message xml:lang="ru">Изменить кривую вентилятора ASUS с подтверждением read-back</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-panel-overdrive">
    <description>Change the Orbis Control panel overdrive state</description>
    <description xml:lang="ru">Изменить состояние panel overdrive Orbis Control</description>
     <message>Change ASUS panel overdrive with authoritative read-back</message>
     <message xml:lang="ru">Изменить ASUS panel overdrive с подтверждением read-back</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-keyboard-backlight">
    <description>Change the Orbis Control keyboard backlight brightness</description>
    <description xml:lang="ru">Изменить яркость подсветки клавиатуры Orbis Control</description>
      <message>Change the ASUS keyboard backlight level</message>
      <message xml:lang="ru">Изменить уровень подсветки клавиатуры ASUS</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="io.github.orbiscontrol.hardware.set-aura-static-rgb">
    <description>Change the Orbis Control Aura Static RGB colour</description>
    <description xml:lang="ru">Изменить цвет Aura Static RGB Orbis Control</description>
     <message>Set Aura Static RGB with config-level read-back</message>
     <message xml:lang="ru">Изменить Aura Static RGB с подтверждением конфигурации</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
